<br><br><h1>Steps To Run in Local Machine</h1>
<h5>  1. Take the Git Pull from the link =><a href="https://github.com/deepaksntiwari/Movies_Search_WebSite">https://github.com/deepaksntiwari/Movies_Search_WebSite</a></h5>
<h5>  2. Open it in Visual Studio Code</h5>
<h5>  3. Open the directory where you have downloaded the Repo</h5>
<h5>  4. Open the CMD line using this  <a href="https://www.lifewire.com/open-command-prompt-in-a-folder-5185505">tutorial</a></h5>
<h5>  5. After this type npm-start</h5>
<h5>  6. Visit the server link provided in the terminal</h5>